<footer>
    <div class="f-info">

        <!-- social icons -->
        <div class="f-into-socials">
            <a href="https://facebook.com/StayNest" target="_blank" aria-label="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>

            <a href="https://instagram.com/StayNest" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            
              <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-square-linkedin"></i>
            </a>
        </div>

        <!-- Brand -->
        <div class="f-info-brand">&copy; StayNest Private Limited</div>
        
        <!-- Links -->
        <div class="footer-links">
            <a href="/about">About</a> ·
            <a href="/careers">Careers</a> ·
            <a href="/contact">Contact</a> ·
            <a href="/help">Help</a> ·
            <a href="/privacy">Privacy</a> ·
            <a href="/terms">Terms</a> ·
            <a href="/cookies">Cookies</a> ·
            <a href="/gdpr">GDPR</a>
        </div>
    </div>
</footer>